*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.hang1{
    width: 100%;
    height: 50px;
}
.hang3,
.hang2{
    display: flex;
}
.cot12{
    width: 33.3333%;
    height: 50px;
    float: left;
}
.cot13{
    width: 66.66666%;
    height: 50px;
    float: left;
}
.hang3> .cot1{
   width: 33.33333%;
   height: 50px;
}
.cot31{
    display: none;
}
.cot41{
    width:100%;
    height: 50px;
    float: left;
}
